@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.cart {
  position: relative;
  cursor: pointer;

  &__badge {
    &__icon {
      color: $primary-light !important;

      @include mobile {
        font-size: 20px !important;
      }

      @include tablet {
        font-size: 23px !important;
      }

      @include desktop {
        font-size: 26px !important;
      }
    }
  }

  &__list {
    border-radius: 15px;
    overflow: scroll;
    background-color: $primary-color-darkest;
    @include position(absolute, 30px);
    right: 0px;

    @include mobile {
      width: 160px;
      height: 200px;
    }

    @include tablet {
      width: 200px;
      height: 240px;
    }

    @include desktop {
      width: 280px;
      height: 320px;
    }

    &__display {
      text-align: center;
      @include flex(row, space-between, center);

      @include mobile {
        width: 130px;
        font-size: 12px;
        padding: 0 10px;
      }

      @include tablet {
        width: 170px;
        font-size: 14px;
        padding: 0 10px;
      }

      @include desktop {
        width: 250px;
        font-size: 15px;
        padding: 0 10px;
      }

      img {
        width: 20%;

        @include mobile {
          @include image(content, 15px, 15px);
        }

        @include tablet {
          @include image(content, 20px, 20px);
        }

        @include tablet {
          @include image(content, 30px, 30px);
        }
      }

      h4 {
        @include mobile {
          font-size: 13px;
          width: 40%;
        }
        @include tablet {
          font-size: 14px;
          width: 40%;
        }

        @include desktop {
          font-size: 15px;
          width: 40%;
        }
      }

      &__qty {
        width: 25%;
        font-size: 15px;
        @include flex(row, space-between, center);
        @include mobile {
          font-size: 12px;
        }
        @include tablet {
          font-size: 14px;
        }

        @include desktop {
          font-size: 16px;
        }

        &__icon {
          @include mobile {
            font-size: 13px !important;
          }
          @include tablet {
            font-size: 14px !important;
          }
          @include desktop {
            font-size: 15px !important;
          }
        }
      }
    }
  }
}
