@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.favorite {
  position: relative;
  cursor: pointer;

  &__badge {
    &__icon {
      color: $primary-light !important;
      @include mobile {
        font-size: 20px !important;
      }
      @include tablet {
        font-size: 25px !important;
      }
    }
  }

  &__list {
    border-radius: 15px;
    overflow: scroll;
    height: 400px;
    width: 270px;
    background-color: $primary-color-darkest;
    @include position(absolute, 30px);
    right: 0px;
    @include mobile {
      width: 160px;
      height: 200px;
    }
    @include tablet {
      width: 200px;
      height: 240px;
    }

    &__display {
      width: 250px;
      text-align: center;
      padding: 10px;
      @include flex(row, space-between, center);
      @include mobile {
        font-size: 12px;
        width: 130px;
        padding: 0 10px;
      }
      @include tablet {
        width: 170px;
        font-size: 14px;
        padding: 0 10px;
      }

      img {
        width: 20%;
        @include image(content, 30px, 30px);
        @include mobile {
          @include image(content, 15px, 15px);
        }
        @include tablet {
          @include image(content, 20px, 20px);
        }
      }

      h4 {
        width: 65%;
        @include mobile {
          font-size: 13px;
          width: 50%;
        }
        @include tablet {
          font-size: 15px;
          width: 40%;
        }
      }

      &__icon {
        width: 15%;

        @include mobile {
          font-size: 13px !important;
        }
        @include tablet {
          font-size: 16px !important;
        }
      }
    }
  }
}
