@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.navbar{
    width: 300px;
    &__list{
        width: 100%;
        @include flex(row, space-around, center);

        li{
            list-style: none;
            transition: all .75s ease-in;
            cursor: pointer;
            
            &:hover{
                border-bottom: 1px solid $primary-light;
            }
        }
    }
}