@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.search {
  width: 500px;
  position: relative;

  @include mobile {
    width: 250px;
  }

  @include tablet {
    width: 380px;
  }

  &__input {
    @include flex(row, center, center);

    input {
      width: 80%;
      padding: 5px 10px;
      border: 1px solid $primary-light;
      color: $primary-light;
      background-color: $primary-color-darker;
      margin-right: 5px;
      font-size: 15px;

      &:focus-visible {
        outline-color: $primary-color-darker;
        border: none;
      }

      @include mobile {
        font-size: 10px;
      }

      @include tablet {
        font-size: 12px;
      }
    }

    button {
      border: 1px solid $primary-light;
      color: $primary-light;
      background-color: transparent;
      padding: 6px 10px;
      transition: all 0.25s ease-in;
      cursor: pointer;

      &:hover {
        border: 1px solid $primary-light;
        border-radius: 3px;
        background-color: $primary-color-darker;
      }

      @include mobile {
        padding: 3px 5px;
      }

      @include tablet {
        padding: 4.5px 8px;
      }
    }
  }

  &__suggestion {
    height: 400px;
    overflow: scroll;
    @include position(absolute, 35px);
    background-color: $primary-color-darker;
    width: 400px;
    left: 5px;
    padding: 5px 10px;

    @include mobile {
      width: 165px;
      @include position(absolute, 27px);
      height: 200px;
    }

    @include tablet {
      width: 287px;
      @include position(absolute, 32px);
      height: 230px;
    }
    p {
      padding: 3px 5px;
      margin: 5px 0;
      font-size: 15px;

      @include mobile {
        font-size: 10px;
      }

      @include tablet {
        font-size: 12px;
      }

      &:hover {
        background-color: $primary-color-lighter;
      }
    }
  }
}
