@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.themeClick {
  width: 50px;
  text-align: center;
  margin-top: 5px;

  &__icon {
    @include mobile {
      font-size: 20px !important;
    }

    @include tablet {
      font-size: 25px !important;
    }
  }
}
