@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.tableHead {
  &__list {
    width: 100%;
    text-align: center;

    th {
      width: calc(100% / 8);
      border-bottom: 2px solid $primary-color-darker;
      position: relative;

      div {
        @include position(absolute, 0px);
        right: 0px;
      }
    }
  }
}
