@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.tableRow {
  border-bottom: 1px solid $primary-color-darker;

  @include mobile {
    font-size: 10px;
  }

  @include tablet {
    font-size: 13px;
  }
  td {
    width: calc(100% / 8);
    text-align: center;
    padding: 20px 0;
    height: 50px;
  }

  &__name {
    a {
      cursor: pointer;
      color: $primary-color-lightest;
    }
  }

  &__img {
    img {
      @include image(content, 50px, 50px);

      @include mobile {
        @include image(content, 30px, 30px);
      }

      @include tablet {
        @include image(content, 40px, 40px);
      }
    }
  }

  &__population {
    display: block;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__quantity {
    &__removeIcon,
    &__addIcon {
      cursor: pointer;

      @include mobile {
        font-size: 12px !important;
      }

      @include tablet {
        font-size: 15px !important;
      }
    }

    div {
      @include flex(row, space-around, center);
    }
  }

  &__favorite {
    &__icon {
      cursor: pointer;
      @include mobile {
        font-size: 15px !important;
      }

      @include tablet {
        font-size: 17px !important;
      }
    }
  }
}
