@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.tableHead {
  @include mobile {
    font-size: 10px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include desktop {
    font-size: 15px;
  }

  &__list {
    width: 100%;
    text-align: center;

    th {
      border-bottom: 2px solid $primary-color-darker;
      position: relative;

      div {
        @include position(absolute, 0px);
        right: 0px;
        top: 0px;

        .arrowUpIcon,
        .arrowDownIcon {
          @include mobile {
            font-size: 12px;
          }

          @include tablet {
            font-size: 15px;
          }

          @include desktop {
            font-size: 20px;
          }
        }
      }
    }

    &__flag,
    &__name,
    &__capital,
    &__favorite {
      width: 9%;
    }

    &__buyFlag,
    &__region {
      width: 12%;
    }
    &__population,
    &__languages {
      width: 20%;
    }
  }
}
