@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.tableRow{

    td{
        width: calc(100%/8);
        text-align: center;
        padding: 20px 0;
        height: 50px;
    }

    &__img{
        img{
            @include image(content, 50px, 50px)
        }
    }

    &__quantity{
        @include flex(row, space-between, center);
        margin: 0 40px;
    }

}