@import "../../../SCSS/mixins";
@import "../../../SCSS/_colors.scss";

.tableRow {
  border-bottom: 1px solid $primary-color-darker;

  td {
    width: calc(100% / 8);
    text-align: center;
    padding: 20px 0;
    height: 50px;
  }

  &__img {
    img {
      @include image(content, 50px, 50px);
    }
  }

  &__quantity {
    &__removeIcon,
    &__addIcon {
      cursor: pointer;
    }

    div {
      @include flex(row, space-around, center);
    }
  }

  &__favorite {
    &__icon {
      cursor: pointer;
    }
  }
}
