@import "../SCSS/colors";
@import "../SCSS/mixins";

body {
  margin: 0;
  padding: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

.home {
  width: 85%;
  min-height: 100vh;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}
