
$primary-light: #FFFFFF;

$primary-dark: #000000;

$primary-color: #663399;

$primary-color-darker: darken($primary-color, 10%);

$primary-color-darkest: darken($primary-color, 20%);

$primary-color-lightest: lighten($primary-color, 5%);

$primary-color-lighter: lighten($primary-color, 10%);

:export {
    primaryLight: $primary-light;
    primaryDark: $primary-dark;
}



