@mixin flex($direction, $jtf, $ali) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jtf;
    align-items: $ali;
}

@mixin position($position, $top) {
    position: $position;
    top: $top;
}

@mixin image($objFit, $wth, $hgt) {
    object-fit: $objFit;
    width: $wth;
    height: $hgt;
    border-radius: 50%;
    overflow: hidden;
}